body{
    font-family: "Lato", sans-serif;
    margin: 80px;
    padding: 0px;
    background-image: url('./imagenes/dark.jpg'); 
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* background: #F3F5FC; */
    /* align-items: center; */
    /* background: #463f3a; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.conteiner{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
    background-color: rgba(51,61, 41, 0.9);
    border-radius: 10px;
}

.logo{
    /* background: brown; */
    /* display: inline; */
    width: 100%;
    float: left;
}

.img{
    margin-top: 1%;
    margin-left: 5% ;
    float: inherit;
}

.title{
    float: inherit;
    margin-left: 15%;
    color: white;
}

.left{
    float: left;
    /* background: palevioletred; */
    width: 70%;
    height: 70%;
}

#input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: white;
    font-size: 20px;
    border: none;
    outline: none; 
    /* en el input no aparece le border */
    background: rgba(51,61, 41);
    border-radius: 10px;
    text-align: center;
}

.right{
    background: rgba(51,61, 41);
    border-radius: 10px;
    width: 30%;
    float: right;
    height: auto;
}

.giphy-embed{
    margin-left: 6%;
    margin-top: 10%;
    width: 90%;
    height: auto;
}

.output-messege1{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 120%;
    color: white;
}

.output-messege2{
    background: rgba(51,61, 41);
    border-radius: 10px;
    float: left;
    margin-left:10%;
    color: white;
    width: 80%;
    height: 30%;
    border: none;
    outline: none;
    /* font-family: poppins; */
    font-size: 16px;
    /* font-weight: 400; */
    text-align: center;
    font-size: 18px;
    /* line-height: 150%; */
}

#copy{
    margin-left: 33%;
    /* margin-top: 90%; */
    padding: 15px;
    width: 30%;
    height: 40%;
    border: none;
    border-radius: 24px;
    background: rgba(88, 47, 14, .5);
    display: none;
    color: white;
}

.left-button{
    /* background: greenyellow; */
    width: 70%;
    float: left;
    height: auto;
    border-radius: 24px;
}

#encriptar{
    padding: 15px;
    width: 30%;
    height: 40%;
    border: none;
    border-radius: 24px;
    margin-left: 10%;
    background: rgba(88, 47, 14, .5);
    color: white;
}

#desencriptar{
    padding: 15px;
    width: 30%;
    height: 40%;
    border-radius: 24px;
    margin-left: 10%;
    background: rgba(88, 47, 14, .5);
    border: none;
    color: white;
}

#clausula{
    /* text-align: center; */
    padding: 15px;
    margin-left: 10%;
}

#copyright{
    padding: 15px;
    margin-left: 40%;
}